@import url("http://fonts.googleapis.com/css?family=Lato:100");

html, body
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#hex
{
  color: white;
  font: 120px/120px Lato;
  font-size: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 840px;
  height: 120px;
  text-align: center;
}
