html, body
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#pie
{
  color: white;
  font: 120px/120px Lato;
  font-size: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  text-align: center;
}

div div {
    width: 100px;
    height: 100px;
    outline: 1px solid;
    float: left;
}

path {
  stroke: #000;                               /* NEW */
  stroke-width: 2;                            /* NEW */
}
